.search-filter {
  width: 100%;

  .filter {
    display: flex;
    justify-content: space-between;

    .right {

      label {
        padding: 8px;
        padding-right: 0;
      }

      .dropdown .value {
        text-align: left;
      }
      
      padding-right: 24px;
      display: flex;
      flex-direction: row;
    }
  }
}